footer ul {
	padding: 0;
	list-style: none;
	margin-bottom: 0;
}

.footer {
	border-top: 7px solid #b80632;
	background: url('../images/atlanticandsouthern/atlanticandsouthern-footer-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
}

.footer-container {
	width: 1500px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.footer-top {
	padding: 90px 0px 40px;
	margin: 0 auto;

	width: 1500px;
	max-width: 100%;

	display: flex;
	justify-content: space-between;
}

.footer h3 {
	margin-bottom: 26px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.458em;
	letter-spacing: .5px;
	color: #fff;
	text-transform: uppercase;
}

.footer-left,
.footer-middle,
.footer-right {
	max-width: 33.333%;
}

.footer-left {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
}

.footer-locations {
	border: 1px solid #b80632;
	min-height: 266px;
	padding: 30px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.footer-locations li {
	display: flex;
	flex-direction: column;
}

.footer .address i {
	color: #b80632;
	margin-right: 3px;
}

.footer .address span {
	font-size: 14px;
	color: #fff;
	transition: .3s color ease-in-out;
	letter-spacing: .7px;
}

.footer .address span:hover {
	color: #b80632;
}

.footer .address a:hover {
	text-decoration: none;
}

.footer .phone a {
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: .05em;
	color: #b80632;
	transition: .3s color ease-in-out;
}

.footer .phone a:hover {
	color: #fff;
	text-decoration: none;
}

.footer .phone i {
	display: none;
}

.footer-middle {}

.footer-products {
	display: flex;
	flex-wrap: wrap;
}

.footer-products li {
	position: relative;
	width: 150px;
	margin-right: 50px;

	font-size: 14px;
	line-height: 40px;
}

.footer-products li a {
	color: #adadad;
	transition: color .3s ease-in-out;
	display: block;
}

.footer-products li a:hover {
	text-decoration: none;
	color: #b80632;
}

.footer-products li i {
	font-size: 9px;
	color: #b80632;
	transition: margin .3s ease-in-out;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.footer-products li:hover i {
	color: #fff;
	margin-right: 5px;
}

.footer-right {
	padding-top: 60px;
}

.footer-right .menu {
	height: 210px;
	width: 338px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.footer-right li:nth-last-child(-n+5) {
	margin-left: 50px;
}

.footer-right li a {
	color: #fff;
	transition: .3s color ease-in-out;
	font-weight: 700;
	font-size: 20px;
	line-height: 41px;
	letter-spacing: .025em;
	text-transform: uppercase;
}

.footer-right li a:hover {
	text-decoration: none;
	color: #b80632;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	position: relative;
}

.footer-links::before {
	content: '';
	position: absolute;
	left: -100%;
	background: #b80632;
	width: 100%;
	height: 100%;
}

.footer-logo {
	width: 100%;
	max-width: 560px;

	padding: 26px 0 26px 33px;

	background-color: #b80632;
}

.logo-dark {
	display: none;
}

.footer-content {
	position: relative;
	min-height: 137px;
	width: 100%;
	background: #000;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-phone {
	color: #fff;
	font-weight: 700;
	font-size: 36px;
	line-height: 28px;
	letter-spacing: .025em;

	margin-left: 13%;

	transition: color .3s ease-in-out;
}

.footer-phone:hover {
	color: #b80632;
	text-decoration: none;
}

.footer-socials {
	display: flex;
}

.footer-socials a {
	border: 1px solid #b80632;
	width: 48px;
	height: 48px;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: background-color .3s ease-in-out;
}

.footer-socials a:hover {
	color: #fff;
	background-color: #b80632;
	text-decoration: none;
}

.footer-socials a:hover i {
	color: #fff;
}

.footer-socials a i {
	font-size: 20px;
	color: #b80632;

	transition: color .3s ease-in-out;
}

.request-button {
	color: #fff;
	background-color: #b80632;
	width: 340px;
	height: 64px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s color ease-in-out, .3s background-color ease-in-out;

	font-weight: 700;
	letter-spacing: .025em;
	border-radius: 5px;
	text-transform: uppercase;
}

.request-button:hover {
	background-color: #fff;
	color: #000;
	text-decoration: none;
}

.footer-bottom {
	padding-top: 56px;
	padding-bottom: 58px;

	background-color: #212121;
}

.footer-container--bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bottom-links {
	display: flex;
}

.bottom-links li {
	padding: 0 5px;
}

.bottom-links li a,
.footer-copyright {
	color: #adadad;
	font-size: 12px;
	line-height: 33px;
	letter-spacing: .05em;
	transition: .3s color ease-in-out;
}

.bottom-links li a:hover {
	color: #b80632;
	text-decoration: none;
}

.footer-copyright {
	line-height: 17px;
}


.separator-line {
	color: #adadad;
}



/* .footer-content::after {
	content: '';
	position: absolute;
	left: 0;
	background: #000;
	width: 100%;
	height: 100%;
} */