footer ul {
	padding: 0;
	list-style: none;
	margin-bottom: 0;
}

.footer {
	border-top: 7px solid #b80632;
	background: url('../images/atlanticandsouthern/atlanticandsouthern-footer-bg.jpg');
	background-position: center center;
	background-repeat: repeat-y;
}

.footer-container {
	width: 100%;
	max-width: 1500px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.footer-top {
	padding: 90px 0px 40px;
	margin: 0 auto;

	width: 1500px;
	max-width: 100%;

	display: flex;
	justify-content: space-between;
}

.footer h3 {
	margin-bottom: 26px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.458em;
	letter-spacing: .5px;
	color: #fff;
	text-transform: uppercase;
}

.footer-left {
	padding-left: 15px;

	display: flex;
	flex-direction: column;
	flex: 0 0 530px;
}

.footer-locations {
	border: 1px solid #b80632;
	min-height: 266px;
	padding: 25px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.footer-locations li {
	display: flex;
	flex-direction: column;

	margin: 0px 15px 25px;
}

.footer-locations li:first-child {
	margin-left: 0;
}

.footer-locations li:last-child {
	margin: 0;
}

.footer-locations li:nth-child(3n) {
	margin-right: 0;
}

.footer .address {
	margin-bottom: 5px;
}

.footer .address i {
	color: #b80632;
	margin-right: 3px;
}

.footer .address span {
	font-size: 14px;
	color: #fff;
	transition: .3s color ease-in-out;
	letter-spacing: .7px;
}

.footer .address span:hover {
	color: #b80632;
}

.footer .address a:hover {
	text-decoration: none;
}

.footer .phone a {
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: .05em;
	color: #b80632;
	transition: .3s color ease-in-out;
}

.footer .phone a:hover {
	color: #fff;
	text-decoration: none;
}

.footer .phone i {
	display: none;
}

.footer-middle {
	display: flex;
	flex-direction: column;
	flex: 0 0 430px;
}

.footer-products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-products li {
	position: relative;
	width: 177px;

	font-size: 14px;
	line-height: 40px;
}

.footer-products li a {
	color: #adadad;
	transition: color .3s ease-in-out;
	display: block;
}

.footer-products li a:hover {
	text-decoration: none;
	color: #b80632;
}

.footer-products li i {
	font-size: 9px;
	color: #b80632;
	transition: margin .3s ease-in-out;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.footer-products li:hover i {
	color: #fff;
	margin-right: 5px;
}

.footer-right {
	padding-top: 60px;

	flex: 0 0 338px;
}

.footer-right .menu {
	height: 210px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.footer-right li:nth-last-child(-n+5) {
	margin-left: 50px;
}

.footer-right li a {
	color: #fff;
	transition: .3s color ease-in-out;
	font-weight: 700;
	font-size: 16px;
	line-height: 41px;
	text-transform: uppercase;
}

.footer-right li a:hover {
	text-decoration: none;
	color: #b80632;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	position: relative;
}

.footer-links::before {
	content: '';
	position: absolute;
	left: -100%;
	background: #b80632;
	width: 100%;
	height: 100%;
}

.footer-logo {
	width: 100%;
	max-width: 560px;

	padding: 26px 0 26px 33px;

	background-color: #b80632;
}

.logo-dark {
	display: none;
}

.footer-content {
	position: relative;
	min-height: 137px;
	width: 100%;
	background: #000;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-phone {
	color: #fff;
	font-weight: 700;
	font-size: 36px;
	line-height: 28px;
	letter-spacing: .025em;

	margin-left: 13%;

	transition: color .3s ease-in-out;
}

.footer-phone:hover {
	color: #b80632;
	text-decoration: none;
}

.footer-socials {
	display: flex;
}

.footer-socials a {
	border: 1px solid #b80632;
	width: 48px;
	height: 48px;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: background-color .3s ease-in-out;
}

.footer-socials a:hover {
	color: #fff;
	background-color: #b80632;
	text-decoration: none;
}

.footer-socials a:hover i {
	color: #fff;
}

.footer-socials a i {
	font-size: 20px;
	color: #b80632;

	transition: color .3s ease-in-out;
}

.request-button {
	color: #fff;
	background-color: #b80632;
	width: 340px;
	height: 64px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s color ease-in-out, .3s background-color ease-in-out;

	font-weight: 700;
	letter-spacing: .025em;
	border-radius: 5px;
	text-transform: uppercase;
}

.request-button:hover {
	background-color: #fff;
	color: #000;
	text-decoration: none;
}

.footer-bottom {
	padding-top: 56px;
	padding-bottom: 58px;

	background-color: #212121;
}

.footer-container--bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bottom-links {
	display: flex;
}

.bottom-links li {
	padding: 0 5px;
}

.bottom-links li a,
.footer-copyright {
	color: #adadad;
	font-size: 12px;
	line-height: 33px;
	letter-spacing: .05em;
	transition: .3s color ease-in-out;
}

.bottom-links li a:hover {
	color: #b80632;
	text-decoration: none;
}

.footer-copyright {
	line-height: 17px;
}


.separator-line {
	color: #adadad;
}

@media screen and (max-width: 1350px) {
	.footer-top {
		flex-wrap: wrap;
		width: 970px;
		max-width: 100%;
	}

	.footer-left {
		padding-left: 0;
		flex: 0 0 100%;

		margin-bottom: 60px;
	}

	.footer-locations {
		min-height: unset;
		justify-content: center;
		align-items: center;
	}

	.footer-locations li {
		margin: 0 25px;
	}

	.footer-locations li:nth-child(3n) {
		margin: 0 25px;
	}

	.footer-locations li:last-child {
		margin-left: 25px;
	}

	.footer-middle {
		flex: 0 0 100%;
	}

	.footer-products {
		height: 124px;
		justify-content: flex-start;
		flex-direction: column;
	}

	.footer-products li {
		max-height: 40px;
	}

	.footer-right {
		flex: 0 0 100%;
	}

	.footer-right li a {
		font-size: 20px;
	}

	.footer-right li:nth-last-child(-n+5) {
		margin-left: 0;
	}

	.footer-links {
		flex-wrap: wrap;

		max-width: 970px;
		margin: 0 auto;
	}

	.footer-links::before {
		content: none;
	}

	.footer-logo {
		max-width: 100%;
		text-align: center;
	}

	.request-button {
		width: 200px;
		font-size: 16px;
	}

	.footer-phone {
		font-size: 26px;
		margin-left: 0;
	}

	.footer {
		padding: 0 15px;
	}

	.footer-bottom {
		padding: 30px 0;
	}

	.footer-container--bottom {
		flex-wrap: wrap;
	}

	.powered-by {
		margin-right: 15px;
	}

	.footer-copyright {
		margin-left: 15px;
	}
}

@media screen and (max-width: 870px) {
	.footer-copyright {
		margin-left: 0;
		margin-top: 15px;
		flex: 0 0 100%;
		text-align: center;
	}

	.footer-container--bottom {
		justify-content: center;
	}

	.footer-locations li,
	.footer-locations li:first-child,
	.footer-locations li:last-child {
		margin: 10px 15px;
	}

	.footer .phone a {
		font-size: 18px;
	}

	.footer-middle {
		flex: 0 0 auto;

		margin: 0 auto;
	}

	.footer-content {
		padding: 0 15px;

		flex-wrap: wrap;
	}

	.footer-products li {}

	.footer-products {
		flex-wrap: wrap;
		height: auto;
	}

	.footer-right .menu {
		height: auto;

		justify-content: center;
		align-items: center;
	}

	.footer-logo {
		padding: 25px;
	}
}

@media screen and (max-width: 576px) {
	.footer-content {
		padding: 30px 0;
	}
	
	.footer-phone {
		flex: 0 0 100%;
		text-align: center;

		margin-bottom: 20px;
	}

	.footer-socials {
		flex: 0 0 100%;
		justify-content: center;
	}

	.request-button {
		margin: 0 auto;
		margin-top: 20px;
	}

	.bottom-links {
		flex-wrap: wrap;
		justify-content: center;
	}
}